{
  "description": "",
  "language": "en",
  "activeAssistantAgents": [
    "smalltalk-domain-on",
    "smalltalk-fulfillment-on"
  ],
  "googleAssistant": {
    "googleAssistantCompatible": true,
    "welcomeIntentSignInRequired": false,
    "startIntents": [
      {
        "intentId": "a58f80f4-7c35-428d-8ab6-d5efd58fea33",
        "signInRequired": false
      }
    ],
    "systemIntents": [],
    "endIntentIds": [],
    "oAuthLinking": {
      "required": false,
      "grantType": "AUTH_CODE_GRANT"
    },
    "voiceType": "MALE_1",
    "capabilities": [],
    "protocolVersion": "V2"
  },
  "defaultTimezone": "",
  "webhook": {
    "url": "{{ webhook_url }}",
    "headers": {
      "": "",
      "x-api-key": "{{ webhook_api_key }}"
    },
    "available": true,
    "useForDomains": false,
    "cloudFunctionsEnabled": false,
    "cloudFunctionsInitialized": false
  },
  "isPrivate": false,
  "customClassifierMode": "use.after",
  "mlMinConfidence": 0.2,
  "supportedLanguages": [],
  "enableOnePlatformApi": false
}
